<form action="/cadastro/funcionarios_status" method="POST">
    <h1>Cadastro de Funcionários</h1>
    <ul>
      <li>
        <p>Nome: </p>
        <textarea name="nome"></textarea>
      </li>

        <p>Email:</p>
        <textarea name="email"></textarea>

        <p>Telefone:</p>
        <textarea name="telefone"></textarea>

        <p>CPF:</p>
        <textarea name="cpf"></textarea>

        <p>Endereço</p>
        <textarea name="endereco"></textarea>

        <p>CEP</p>
        <textarea name="cep"></textarea>

        <p>Número Residência</p>
        <textarea name="numResidencia"></textarea>


        <p>Bairro</p>
        <textarea name="bairro"></textarea>


        <p>Cidade</p>
        <textarea name="cidade"></textarea>


        <p>Estado</p>
        <textarea name="uf"></textarea>


        <p>Complemento</p>
        <textarea name="complemento"></textarea>


        <p>Referência</p>
        <textarea name="referencia"></textarea>


        <p>Usuário</p>
        <textarea name="usuario"></textarea>


        <p>Senha</p>
        <textarea name="senha"></textarea>

        <button type="submit">Cadastrar</button>
    </ul>
</form>
