<form action="/cadastro/status" method="POST">
    <h1>Cadastro de produtos</h1>

    <p>Nome do produto: </p>
    <textarea name="nome_produto"></textarea>

    <p>Quantidade do produto:</p>
    <textarea name="qntd_produto"></textarea>

    <p>Descrição do produto:</p>
    <textarea name="descricao_produto"></textarea>

    <p>Preço:</p>
    <textarea name="preco"></textarea>

    <p>Referência</p>
    <textarea name="referencia_produto"></textarea>

    <button type="submit">Cadastrar</button>
</form>