<form action="/login" method="POST">
    <h1>Página de login</h1>
    <p>Login: </p>
    <input type="text", name="login">
    <p>Senha:</p>
    <textarea name="login"></textarea>
    <button type="submit">Login</button>
</form>